<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">

    <div class="row align-items-md-stretch">
        <h4 class="mb-3">
            Data pribadi user
        </h4>

        <div class="card" style="width: 24rem;"  th:each="member : ${memberList}">
            <img class="card-img-top"
                 th:src="@{/member/{memberId}/ktp(memberId=${member.id})}">
            <div class="card-body">
                <h5 class="card-title" th:text="${'Nama : ' + member.nama}">Card title</h5>
                <p class="card-text" th:text="${'No. KTP : ' + member.noKtpPlain}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

</section>
</body>
</html>